@font-face {
  font-family: 'Tourney';
  src: url('../fonts/Tourney-Regular.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Yanone Kaffeesatz';
  src: url('../fonts/YanoneKaffeesatz-Bold.ttf') format('truetype');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesome.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'FontAwesome';
  src: url('../fonts/FontAwesomeBrands.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}
