.cq-icon{
  position: relative;
  font-family: 'FontAwesome';
  display: flex;
  align-items: center;
  justify-content: center;
}
.cq-icon.wh-20{
  width: 20px;
  height: 20px;
}
.cq-icon.wh-40{
  width: 40px;
  height: 40px;
  font-size: 40px;
}
.cq-icon.wh-40:before{
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.instagram:before{
  content: '\f16d'
}
.facebook:before{
  content: '\f09a';
}
.telegram:before{
  content: '\f2c6';
}
.vk:before{
  content: '\f189';
}
.burger-menu:before{
  content: '\f0c9';
  font-weight: 600;
}
