$black: #02000D;
$purple: #8034D8;
$white: #D4F4FF;
$blue: #7DD4FF;
$light-blue: #1CC3EB;
$dark-blue: #5375E0;
$tourney-grad: linear-gradient(to right, #45a4d3, #8034D8);
$button-shadow: 0 1px 10px 1px rgba(0, 0, 0, 0.5), inset 1px 1px 40px 10px rgba(251, 179, 255, 0.4);
$button-bg: #6126a5;
$arrows-purple: #532489;
$stroke: 1px dashed #7DD4FF;
$logo-font: 'Tourney', sans-serif;
$text-font: 'Yanone Kaffeesatz', sans-serif;
$card-bg: #000716;
